/* You can add global styles to this file, and also import other style files */
label{
  margin: 1% 1% 2% 0%;
}
h2{
  margin-bottom: 3%;
  margin-top: 3%;
}
.prezzi{
  float: right;
  pointer-events: none;
}

strong{
  margin: auto;
}

